mat-tab-group {
  margin-left: 10px;

  .mat-tab-label {
    color: #333;
  }

  .mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: palevioletred;
    font-weight: 700;
    font-size: 17px;
  }
}
